@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Inter:wght@400;500;600;700&display=swap');

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: white;
  background: black;
}
h1, h2, h3 {
  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
}
a {
  color: green;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

pre {
  font-family: "IBM Plex Mono", monospace;
  white-space: pre-wrap;
}

.twitter-tweet {
  margin: 1.5em 0;
}
